{% extends 'base.html' %}

{% load static %}

{% block conteudo %}
<div class="container mt-4">

    <h2>{{ pessoa.nome }}</h2>
    <hr>

    <div class="row">



        <!-- Informações -->
        <div class="col-md-8">
            <ul class="list-group">
                <li class="list-group-item"><strong>Telefone:</strong> {{ pessoa.telefone }}</li>
                <li class="list-group-item"><strong>Email:</strong> {{ pessoa.email }}</li>
                <li class="list-group-item"><strong>Data de Nascimento:</strong> {{ pessoa.data_nascimento }}</li>
                <li class="list-group-item"><strong>Localidade:</strong> {{ pessoa.localidade }}</li>
                <li class="list-group-item"><strong>Endereço:</strong> {{ pessoa.endereco }}</li>
            </ul>
            <br>
            <a href="{{request.META.HTTP_REFERER}}" class="btn btn-primary">Voltar</a>
            </a>
        </div>

    </div>
</div>
{% endblock %}