{% extends 'base.html' %}

{% load widget_tweaks %}

{% block conteudo %}
<body>
    <div class="row">
        <div class="col-12">
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-header">
            <h2><i class="fa fa-list"> Listagem de Pessoas</i></h2>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nome</th>
                            <th>E-mail</th>
                            <th>Telefone</th>
                            <th>Estado</th>
                            <th>Endereço</th>
                            <th>Data de Nascimento</th>
                            <th>Opções</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for a in pessoas %}
                        <tr>
                            <td>{{ a.id }}</td>
                            <td><a href="#">{{ a.nome.upper }}</a></td>
                            <td>{{ a.email }}</td>
                            <td>{{ a.telefone }}</td>
                            <td>{{ a.estado }}</td>
                            <td>{{ a.endereco }}</td>
                            <td>{{ a.data_nascimento }}</td>
                            <td>
                                <a href="#">
                                    <i class="fa fa-search" aria-hidden="true" style="color: blue;"></i>
                                </a>
                                <a href="{% url 'pessoas:editar_pessoa' a.id %}">
                                    <i class="fa fa-pencil-square" aria-hidden="true" style="color: #6B8E23;"></i>
                                </a>
                                <a href="{% url 'pessoas:excluir_pessoa' a.id %}">
                                    <i class="fa fa-trash" aria-hidden="true" style="color: red;"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-12 card mb-3">
        <div class="card-header">
            <a href="{% url 'pessoas:inserir_pessoa' %}"><button class="btn btn-success">Cadastrar</button></a>
        </div>
    </div>
</body>
{% endblock conteudo %}