{% extends 'base.html' %}

{% load widget_tweaks %}

{% block titulo %}- Listagem de Serviços{% endblock titulo %}

{% block conteudo %}
<body>
    <style>
.servico-coluna {
    white-space: normal !important;
    word-wrap: break-word;
    max-width: 300px;
}
</style>
    <div class="row">
        <div class="col-12">
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-header">
            <h2><i class="fa fa-list"></i> Listagem de Serviços</h2>
        </div>
        <div class="content-wrapper">
    <div class="container-fluid">
                <!-- Breadcrumb -->
        <ol class="breadcrumb m-13 p-3 mt-4">
            <li class="breadcrumb-item p-">
                <a href="{% url 'core:index' %}">Home</a>
            </li>
            <li class="breadcrumb-item">
                {% block bread %}
            </li>
            <li class="breadcrum-item p-">
                <a href="{% url 'servicos:listar_servicos' %}">Serviços</a>
            </li>
            <li class="breadcrumb-tiem">
                {% endblock bread %}
            </li>
        </ol>
        </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="text-center">Id</th>
                            <th class="text-center">Pessoa</th>
                            <th class="text-center">Serviço</th>
                            <th class="text-center">Descrição</th>
                            <th class="text-center">Localidade</th>
                            <th class="text-center">Data do Serviço</th>
                            <th class="text-center">Opções</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for a in servicos %}
                        <tr>
                            <td class="text-center">{{ a.id }}</td>
                            <td class="text-center"><a href="{% url 'pessoas:detalhe_pessoa' a.id %}">{{ a.pessoa.nome.upper }}</a></td>
                            <td class="text-center">{{ a.nome_servico }}</td>
                            <td class="text-center servico-coluna">{{ a.descricao }}</td>
                            <td class="text-center">{{ a.pessoa.localidade }}</td>
                            <td class="text-center">{{ a.data_servico }}</td>
                            <td class="text-center">
                                <a href="{% url 'servicos:detalhe_servico' a.id %}">
                                    <i class="fa fa-search" aria-hidden="true" style="color: blue;"></i>
                                </a>
                                <a href="{% url 'servicos:editar_servico' a.id %}">
                                    <i class="fa fa-pencil-square" aria-hidden="true" style="color: #6B8E23;"></i>
                                </a>
                                <a href="{% url 'servicos:excluir_servico' a.id %}">
                                    <i class="fa fa-trash" aria-hidden="true" style="color: red;"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-12 card mb-3 p-3">
        <div class="card-header ">
            <a href="{% url 'core:index' %}"><button class="btn btn-primary mr-2">Voltar</button></a>
            <a href="{% url 'servicos:inserir_servico' %}"><button class="btn btn-success">Inserir</button></a>
            
        </div>
    </div>
</body>
{% endblock conteudo %}